.header-menu{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header-menu-tile{
    color: white;
    font-weight: bold;
    min-width: 36px;
}

.header-menu-tile:hover{
    color: black;
}

a{
    text-decoration: none;
}