.image-container{
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    border-radius: 3px;
    border: 1px solid rgb(0, 96, 255);
    padding: 20px;
    margin-bottom: 12px;
    min-height: 570px;
    min-width: 555px;
}

.image-container>img{
    width: 30vw;
    height: 70vh;
}